
<%if current_user == comment.user%>
<div class="comment-options">
<button data-comment-id= <%= comment.id %> class="update-resource update-comment"></button>
<button data-hide-comment-id= <%= comment.id %> class="hide-resource hide-comment-update"></button>
  <%= link_to '', post_comment_path(comment.post, comment),
                  method: :delete,
                  data: { confirm: "Are you sure you want to delete this comment?" },
                  class: 'delete-resource',
                  tooltip: 'Delete this comment'%>
</div>
<%end%>