
<div class="home-video-wrapper">
  <%= video_tag "thoughts_background.mp4",muted: :muted, autoplay: :autoplay, loop: :loop, class: "home-video" %>
    <div class="home-video-overlay">
      <h1>Thoughts are meant to be Free.</h1>
      <button>Set them free now </button>
    </div>
</div>
