/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   box-sizing: border-box;
   letter-spacing: 0.4px;
   line-height:1.4
 }
 html,body{
   width: 100vw;
   height: 100vh;
   padding: 0px;
   margin: 0px;
 }

 .update-resource,.read-resource,.delete-resource,.hide-resource {
    background-image: url('edit.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90%;
    height:20px;
    width:20px;
    margin: 0px 8px;
    border:none;
    background-color: transparent;
    cursor: pointer;

 }
 .read-resource{
  background-image: url('book.svg');
 }
 .delete-resource{
  background-image: url('trash.svg');
 }
 .hide-resource{
  background-image: url('close.svg');
 }

