/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'Quesha';
  src: url('Quesha.ttf');
}
 *{
   box-sizing: border-box;
   letter-spacing: 0.4px;
   line-height:1.4
 }
 html,body{
   width: 100vw;
   height: 100vh;
   padding: 0px;
   margin: 0px;
 }

 .update-resource,.read-resource,.delete-resource,.hide-resource {
    background-image: url('edit.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 90%;
    height:20px;
    width:20px;
    margin: 0px 8px;
    border:none;
    background-color: transparent;
    cursor: pointer;

 }
 .read-resource{
  background-image: url('book.svg');
 }
 .delete-resource{
  background-image: url('trash.svg');
 }
 .hide-resource{
  background-image: url('close.svg');
 }

header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 10px 30px;
  font-family: 'Quesha';
}
nav{
  display:flex;
  flex: 1;
  align-items:center;
  justify-content: flex-end;
}
nav > ul {
  margin: 0px;
  padding: 0px;
  float: right;
  list-style-type: none;
}
nav > ul > li > a{
  color: #fff;
  font-size: 26px;
  text-decoration: none;
  font-weight: bold;

}
.logo{
  color: #fff;
  font-size: 42px;
}

.devise-form-container{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background:#fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'Itim';
}
.devise-form-container > .field{

}
.users-posts-collection{
  grid-column: 2/3;
  grid-row: 2/4;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background:#fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'Itim';
}
.user-item{
  border-bottom: 1px solid #a9a9aa;
  padding: 20px 0px;
  margin-bottom: 10px;
  display: flex;
}
.user-avatar{
  width: 50px;
  height: 50px;
  background:#5EB4DD;
  border-radius: 50%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content:center;
  font-weight: bold;
  text-transform: uppercase;
}
.user-posts-details{
  display: flex;
  flex-direction:column;
  margin-left: 10px;
}
.post-creator-name{
  font-size: 18px;
}
.posts-count{
  color: #65676B;
  font-size: 14px;
}