// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: 'Itim';
  src: url('Itim-Regular.ttf');
}
.post-item, .new-post-item{
  grid-column: 1/2;
  .post-creator{
    display:flex;
    .post-creator-avatar{
      width: 50px;
      height: 50px;
      background:#5EB4DD;
      border-radius: 50%;
      display: flex;
      color: #fff;
      align-items: center;
      justify-content:center;
      font-weight: bold;
      text-transform: uppercase;
    }
    .post-creator-details{
      display: flex;
      flex-direction:column;
      margin-left: 10px;
      .post-creator-name{
        font-size: 18px;
      }
      .post-creation-date{
        color: #65676B;
        font-size: 14px;
      }
    }
  }
  .post-body{
    font-size: 16px;
  }
}
.new-post-item,.update-post-item{
  flex-direction: row !important;
  .new-post-form-container,.update-post-form-container{
    display:flex;
    flex: 1;
    form{
      display: flex;
      flex: 1;
      input[type="text"]{
        flex: 1;
        margin: 0px 20px;
        background-color:#f0f2f5;
        border: none;
        border-radius: 10px;
        padding: 8px;
        outline: none;
      }
      input[type="submit"]{
        background:#5EB4DD;
        border-radius: 50%;
        border: none;
        width:50px;
        height:50px;
        cursor: pointer;
        background-image: url('thinking.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 50%;
      }
    }
  }
}
.post-card{
  display: flex;
  flex-direction: column;
  padding: 20px;
  background:#fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 20px;
  font-family: 'Itim';
}
.post-comments-count{
  display: flex;
  color: #65676B;
  font-size: 14px;
  justify-content:flex-end;
  border-bottom: 1px solid #a9a9aa;
}

.post-creator-options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .post-options{
    display: flex;
  }
}

//post edit
.update-post-form-container{
  display:flex;
  flex: 1;
  margin-top: 20px;
  form{
    display: flex;
    flex: 1;
    input[type="text"]{
      flex: 1;
      margin: 0px 20px;
      background-color:#f0f2f5;
      border: none;
      border-radius: 10px;
      padding: 8px;
      outline: none;
    }
    input[type="submit"]{
      background:#5EB4DD;
      border-radius: 50%;
      border: none;
      width:50px;
      height: 50px;
      cursor: pointer;
      background-image: url('update-arrows.svg');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 50%;
    }
  }
}