// Place all the styles related to the Reactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.reactions{
  display: flex;
  padding: 5px;
  margin: 0px 10px;
  background:#fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.reaction-item{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 90%;
  height:20px;
  width:20px;
  margin: 0px 8px;
  border:none;
  background-color: transparent;
  cursor: pointer;
}
.like{
background-image: url('like.svg');
}
.heart{
  background-image: url('heart.svg');
}
.smile{
  background-image: url('smiling.svg');
}